*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:
    linear-gradient(
        to bottom,
        #091327 0%,
        #1B2147 30%,
        #43205A 60%,
        #F4C2D7 100%
    );

    min-height:100vh;

    font-family:'Poppins',sans-serif;

    color:white;

    overflow-x:hidden;
}

.container{

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:30px;

}

h1{

    font-family:'Cormorant Garamond',serif;

    font-size:5rem;

    font-weight:600;

    margin-bottom:25px;

    letter-spacing:1px;

}

p{

    font-size:1.2rem;

    max-width:650px;

    line-height:1.8;

    opacity:.95;

    font-weight:300;

}

button{

    margin-top:55px;

    padding:18px 45px;

    border:none;

    border-radius:999px;

    background:#F8D6E8;

    color:#31193D;

    font-size:18px;

    font-family:'Poppins',sans-serif;

    cursor:pointer;

    transition:.35s;

    box-shadow:0 0 35px rgba(255,255,255,.15);

}

button:hover{

    transform:translateY(-4px);

    box-shadow:0 0 45px rgba(255,255,255,.35);

}
.stars{

    position:fixed;

    inset:0;

    pointer-events:none;

}

.star{

    position:absolute;

    width:2px;

    height:2px;

    background:white;

    border-radius:50%;

    opacity:.2;

    animation:twinkle infinite;

}

@keyframes twinkle{

0%,100%{

opacity:.2;

transform:scale(1);

}

50%{

opacity:1;

transform:scale(2);

}

}
